absl-py
aiofiles
aiosqlite
altair
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
attrs
Babel
backcall
beautifulsoup4
bleach
blinker
branca
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
docopt
et-xmlfile
exceptiongroup
executing
fastjsonschema
filelock
flatbuffers
folium
fonttools
fqdn
fsspec
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h11
h5py
huggingface-hub
idna
imbalanced-learn 
importlib-metadata 
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server
jupyter_server_fileid
jupyter_server_terminals
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kaleido
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
notebook_shim
numpy
oauthlib
openpyxl
opt-einsum
outcome
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
pipreqs
platformdirs
plotly
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycparser
pydeck
Pygments
Pympler
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
pyrsistent
PySocks
python-dateutil
python-dotenv
python-json-logger
pytz
pytz-deprecation-shim
pywin32
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
regex
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rich
rsa
safetensors
scikit-learn
scipy
seaborn
selenium
Send2Trash
six
smmap
sniffio
sortedcontainers
soupsieve
stack-data
streamlit 
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
terminado
threadpoolctl
tinycss2
tokenizers
toml
toolz
tornado
tqdm
traitlets
transformers
trio
trio-websocket
typing_extensions
tzdata
tzlocal
uri-template
urllib3
validators
watchdog
wcwidth
webcolors
webdriver-manager
webencodings
websocket-client
Werkzeug
widgetsnbextension
wrapt
wsproto
y-py
yarg
ypy-websocket
zipp
